version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: dodo_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: apppassword
      POSTGRES_DB: appdb
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  app:
    build:
      context: .
    container_name: dodo_app
    restart: unless-stopped
    depends_on:
      - postgres
    env_file:
      - .env
    ports:
      - "3000:3000"

volumes:
  pgdata:
